// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// Css
body {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 650;
    font-style: normal;
}

//NAVBAR
.navbar-nav .nav-item .nav-link {
    position: relative;
    padding-bottom: 20px;
    text-decoration: none;

}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #0082F9;
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0082F9;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}


//JUMBO
#my-jumbotron {
    background-image: url('../img/jumbotron.jpg');
    height: 300px;
    width: auto;
    background-size: cover;

}

#my-button {
    position: absolute;
    top: 45%;
    left: 17%;
    padding: 5px 35px;
    font-size: 20px;
    background-color: #0082F9;

    color: white;
    border: none;

    cursor: pointer;
    z-index: 10;
}

.my-button:hover {
    background-color: #0056b3;
}

//MAIN
main {
    background-color: #1C1C1C;
    color: white;

}

.load-button-container {
    display: flex;
    justify-content: center;
}

.load-button {
    padding: 5px 35px;
    font-size: 20px;
    background-color: #0082F9;
    color: white;
    border: none;
    cursor: pointer;

    z-index: 10;
    display: inline-block;

}

//CARDS
.card-container1 {
    width: 200px;
    height: 220px;

}

.card-container2 {
    height: 140px;
    overflow: hidden;
}

.card-container.img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top;

}


//SHOP
.shop-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #0082F9;
    color: white;
    max-width: 100%;
}


.shop-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.shop-item img {
    max-width: 20%;
    height: auto;
    margin-right: 5px;
}

.shop-name {
    font-size: 0.8em;
    display: inline-block;
    white-space: nowrap;
}

//ABOUT US
.about-us-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    height: 500px;
    width: auto;
    background-size: cover;

}

.column {
    margin-right: 40px;
}


.column h3 {
    margin-top: 0;
    color: white;
    margin-bottom: 10px;
}

.column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.column ul li {
    margin-bottom: 5px;
}

.column ul li a {
    text-decoration: none;
    color: #6A6968;
}

.column ul li a:hover {
    color: #0056b3;

}


//FOOTER
footer {
    background-color: #303030;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left-button button.signup-button {
    background-color: #303030;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: #0056b3;
}

.left-section button.signup-button:hover {
    background-color: #303030;
}

.right-section a {
    margin-left: 10px;
}

.right-section a:first-child {
    margin-left: 0;
}

.right-section img {
    width: 30px;
    height: 30px;
    vertical-align: middle;

}