// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// Css
body {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 650;
    font-style: normal;
}

//NAVBAR
.navbar-nav .nav-item .nav-link {
    position: relative;
    padding-bottom: 20px;
    text-decoration: none;

}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #0082F9;
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #0082F9;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
}


//JUMBO
#my-jumbotron {
    background-image: url('../img/jumbotron.jpg');
    height: 300px;
    width: auto;
    background-size: cover;

}

#my-button {
    position: absolute;
    top: 45%;
    left: 17%;
    padding: 5px 35px;
    font-size: 20px;
    background-color: #0082F9;

    color: white;
    border: none;

    cursor: pointer;
    z-index: 10;
}

.my-button:hover {
    background-color: #0056b3;
}

//MAIN
main {
    background-color: #1C1C1C;
    color: white;

}

.load-button-container {
    display: flex;
    justify-content: center;
}

.load-button {
    padding: 5px 35px;
    font-size: 20px;
    background-color: #0082F9;
    color: white;
    border: none;
    cursor: pointer;

    z-index: 10;
    display: inline-block;

}

//CARDS


.card-container1 {
    width: 200px;
    height: 220px;

}

.card-container2 {
    height: 140px;
    overflow: hidden;
}

.card-container.img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: top;

}